<include href="admin/header.html" />
<link rel="stylesheet" type="text/css" href="/cdn/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" type="text/css" href="/app/views/assets/css/offer.css">
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card margin-top">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Редактировать оффер</div>
                        </div>

                    </div>
                    <div class="alert alert-warning alert-dismissible" style="display:none" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Внимание!</strong> <span class="msg"></span>
                    </div>
                    <div class="card-body">
                        <form class="createForm"> 
                            <input name="id" type="hidden" value="{{ @id }}">
                            <div class="preloader"><img src="/app/views/assets/images/preloader.gif"></div>
                            <div class="form-group">
                                <label for="name"><span>Название *</span></label>
                                <input type="text" name="name" class="form-control" required="" value="{{ @name }}">
                            </div>  
                            <div class="form-group">
                                <label for="words"><span>Ключевые запросы *</span></label>
                                <textarea name="words" class="form-control" style="resize:none;" rows="3">{{ @words }}</textarea>
                                <p class="help-block">В качестве разделителя использовать запятую: <i>Слон, Муха</i></p>
                            </div>   
                            <div class="sub-title">Рыночные атрибуты</div>   
                            <div class="form-group">
                                <label for="segment"><span>Сегмент</span></label>
                                <select name="segment" class="form-control segments">
                                <option value="0">Не выбран</option>   
                                <repeat group="{{ @segments }}" value="{{ @segment }}">   
                                    <option {{ @segment.id == @seg ? 'selected' : '' }} value="{{ @segment.id }}">{{ @segment.name }}</option>
                                </repeat>
                                </select>
                            </div>                            
                            <div class="form-group">
                                <label for="owner"><span>Овнер</span></label>
                                <select name="owner" class="form-control owner">
                                <option value="">Не выбран</option>   
                                <repeat group="{{ @companies }}" value="{{ @company }}">  
                                    <option {{ @company.id == @owner ? 'selected' : '' }} value="{{ @company.id }}">{{ @company.name }}</option> 
                                </repeat>
                                </select>
                            </div>  
                            <div class="form-group">
                                <label for="reseller"><span>Реселлер</span></label>
                                <select name="reseller" class="form-control reseller">
                                <option value="">Не выбран</option>   
                                <repeat group="{{ @companies }}" value="{{ @company }}">   
                                    <option {{ @company.id == @reseller ? 'selected' : '' }} value="{{ @company.id }}">{{ @company.name }}</option>
                                </repeat>
                                </select>
                            </div>  
                            <div class="sub-title">Визуализация</div>
                            <div class="form-group">
                                <label for="marker"><span>Маркер *</span></label>
                                <div class="input-group colorpicker-component">                                    
                                    <input name="marker" type="text" value="{{ @color }}" class="form-control"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>   
                            </div>            
                            <div>
                                <button type="submit" class="btn btn-default" disabled="disabled"><span style="top:1px;left:-3px;" class="glyphicon glyphicon-repeat icon-create hidden" aria-hidden="true"></span> Сохранить изменения</span></button>
                                <a type="button" class="btn btn-default" href="/admin/offer/"><span>Отмена</span></a>
                            </div>   
                        </form> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<include href="admin/footer.html" />
<script type="text/javascript" src="/cdn/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="/app/views/assets/js/app/common.js"></script>
<script type="text/javascript" src="/app/views/assets/js/app/offer.js"></script>
<script>
    $(function() {
        $('.colorpicker-component').colorpicker();
        $(".segments").select2();  
        //$(".segments").attr("selected", "selected");
    });
</script>  