<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="../cdn/flat-admin-bootstrap-templates/dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="../app/views/assets/css/flat-blue.css">


</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb hidden">
                            <li class="active">Dashboard</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">root <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="../cdn/flat-admin-bootstrap-templates/dist/img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">root</h4>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Настройки профиля</button>
                                            <a type="button" class="btn btn-default" href="/logout"><i class="fa fa-sign-out"></i> Выход</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <style>
                .navbar-nav .active a {
                    background-color: #414954!important;
                    color: #fff!important;
                }
                .margin-top{
                    margin-top: 15px;   
                }                
            </style>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">Витрина <sup>Beta</sup></div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="index.html">
                                    <span class="icon fa fa-tachometer"></span><span class="title">Тизеры</span>
                                </a>
                            </li>                         
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card margin-top">
                                <div class="card-header">

                                    <div class="card-title">
                                    <div class="title">Тизеры</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Заголовок</th>
                                                <th>Позиция</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Ощущение мира многопланово выстраивает статус художника</td>
                                                <td>Manual</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Дедуктивный метод, на первый взгляд, осмысляет мир</td>
                                                <td>Manual</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Закон исключённого третьего, по определению, просветляет гедонизм</td>
                                                <td>Manual</td>
                                             </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
   
                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright DRCASH.
            </div>
        </footer>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/jquery.min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/Chart.min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/select2.full.min.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/ace/ace.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/ace/mode-html.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/lib/js/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/js/app.js"></script>
            <script type="text/javascript" src="../cdn/flat-admin-bootstrap-templates/dist/js/index.js"></script>
</body>

</html>
