<include href="admin/header.html" />
<link rel="stylesheet" type="text/css" href="/app/views/assets/css/log.css">
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card margin-top">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Парсинг</div>
                        </div>
                        <div class="btn-group btn-group-md pull-right">
                            <form id="form-run" class="form-inline" role="form">  
                                <div class="form-group">  
                                    <style class="ng-scope">
                                    .select2-container .select2-selection--single { height: 34px; }
                                    .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 34px; }
                                    .select2-container--classic .select2-selection--single .select2-selection__rendered {  line-height: 34px; }
                                    .select2-container--default .select2-selection--single .select2-selection__arrow {  height: 32px; }
                                    </style>
                                </div>  
                                <div class="form-group">  
                                    <check if="{{ @sync }}">
                                        <true>
                                            <button style="border-radius:4px;" type="button" class="btn btn-info btn-run"><span style="top:1px;left:-3px;" class="glyphicon glyphicon-repeat icon-run" aria-hidden="true"></span> Выполнить</span></button>
                                        </true>
                                        <false>
                                            <button type="button" class="btn btn-link" style="color:#22A7F0">Все данные обновлены!</button>
                                            <button style="border-radius:4px;" disabled="disabled" type="button" class="btn btn-info btn-run"><span style="top:1px;left:-3px;" class="glyphicon glyphicon-repeat icon-run" aria-hidden="true"></span> Выполнить</span></button>
                                        </false>
                                    </check>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">                    
                        <check if="{{ @balance < 1}}"><true><div class="alert alert-danger" role="alert">Состояние счета Anticaptha: <strong>{{ @balance }}</strong> $ <a href="https://anti-captcha.com/" target="_blank" class="alert-link">Пополнить баланс</a></div></true></check>
                        <check if="{{ @balance > 1 }}"><true><div class="alert alert-warning" role="alert">Состояние счета Anticaptha: <strong>{{ @balance }}</strong> $ <a href="https://anti-captcha.com/" target="_blank" class="alert-link">Пополнить баланс</a></div></true></check>
                        <check if="{{ @balance >= 5 }}"><true><div class="alert alert-success" role="alert">Состояние счета Anticaptha: <strong>{{ @balance }}</strong> $ <a href="https://anti-captcha.com/" target="_blank" class="alert-link">Пополнить баланс</a></div></true></check>
                   
                        <table class="table table-log">
                            <thead>
                                <tr>
                                    <th>Процесс</th>
                                    <th>Запрос</th>
                                    <th>Дата выполнения</th>
                                    <th>Последняя дата Wordstat</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
       
                            <tbody>
                                <repeat group="{{ @logs }}" value="{{ @log }}">
                                <tr>        
                                    <td>Yandex.Wordstat</td>
                                    <td>{{ @log.response }}</td>
                                    <td>{{ @log.datetime }}</td>  
                                    <td>{{ @log.datetime_update }}</td>          
                                    <td>
                                    <check if="{{ @log.status == 1}}"><true><span style="color:#1ABC9C">approved</span></true></check>
                                    <check if="{{ @log.status == -1}}"><true><span style="color:#FA2A00">rejected</span></true></check>
                                    <check if="{{ @log.status == 0}}"><true><span style="color:#ffb400">pending</span></true></check>
                                    </td>
                                </tr>
                                </repeat>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<include href="admin/footer.html" />
<script type="text/javascript" src="/app/views/assets/js/app/log.js"></script>