<include href="admin/header.html" />
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card margin-top">
                    <div class="card-header">

                        <div class="card-title">
                        <div class="title">Статистика</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Оффер</th>
                                    <th>Слово</th>
                                    <th>Последнее обновление</th>
                                    <th>Показы</th>
                                </tr>
                            </thead>
                            <tbody>
                                <repeat group="{{ @stats }}" value="{{ @stat }}">
                                <tr>        
                                    <td>{{ @stat.product }}</td>                
                                    <td>{{ @stat.word }}</td>
                                    <td>{{ @stat.datetime }}</td>
                                    <td><i class="fa fa-arrow-up" aria-hidden="true" style="color:#1ABC9C;"></i> {{ @stat.impressions }}</td>
                                </tr>
                                </repeat>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<include href="admin/footer.html" />