<include href="admin/header.html" />
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card margin-top">
                    <div class="card-header">

                        <div class="card-title">
                        <div class="title">Офферы</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Оффер</th>
                                    <th>Слова</th>
                                    <th>Дата последней проверки</th>
                                    <th>Динамика показов</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Пиджеум</td>
                                    <td>12</td>
                                    <td>9.03.2017</td>
                                    <td><i class="fa fa-arrow-up" aria-hidden="true" style="color:#1ABC9C;"></i> 15700</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<include href="admin/footer.html" />