<include href="admin/header.html" />
<link rel="stylesheet" type="text/css" href="/app/views/assets/css/dynamic.css">
<link rel="stylesheet" type="text/css" href="/cdn/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card margin-top">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Динамика <span class="description" style="padding-left: 0.4em;font-size: 0.8em;opacity: 0.8;">( вся история )</span></div>
                        </div>
                        <div class="pull-right"> 
                            <form class="filtersForm" action="" method="post">    
                                <div class="form-inline"> 
                                    <div class="form-group" style="margin-bottom:0px;">  
                                        <select name="offers[]" class="form-control offers" multiple="multiple">
                                            <repeat group="{{ @offers }}" value="{{ @offer }}">
                                                <option value="{{ @offer.id }}">{{ @offer.name }}</option>
                                            </repeat>
                                        </select>
                                    </div>  
                                    <button class="btn btn-info" type="submit">Применить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body no-padding">                                
                        <div id="linechartparent"><canvas id="line-chart" class="chart"></canvas></div>
                        <div id="js-legend" class="chart-legend"></div>
                    </div>
                </div>
                <div class="card margin-top">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Статистика <sub>Beta</sub> <span class="description" style="padding-left: 0.4em;font-size: 0.8em;opacity: 0.8;">( 50 последних записей )</span></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-stat">
                            <thead>
                                <tr>
                                    <th>Неделя</th> 
                                    <th>Оффер</th>
                                    <th>Запросы</th>
                                    <th>Показы</th>
                                                                 
                                </tr>
                            </thead>
                            <tbody>
                                <repeat group="{{ @stats }}" value="{{ @stat }}">
                                <style>
                                    .table-stat thead tr:first-child th:nth-child(4){                                        
                                        background:#FDFDFD;
                                        border-top: solid 1px #22A7F0;
                                        border-right: solid 1px #22A7F0;
                                        border-left: solid 1px #22A7F0;
                                    }
                                    .table-stat tbody tr:last-child td:nth-child(4){                                        
                                        background:#FDFDFD;
                                        border-bottom: solid 1px #22A7F0;
                                    }
                                    .table-stat tbody tr td:nth-child(4){                                        
                                        background:#FDFDFD;
                                        border-right: solid 1px #22A7F0;
                                        border-left: solid 1px #22A7F0;
                                    }
                                         
                                    .table-stat tbody tr:nth-child(even) {
                                        background: :#FDFDFD;
                                    }
            
                                </style>
                                <tr>    
                                    <td>{{ @stat.datetime_in }} - {{ @stat.datetime_out }}</td>    
                                    <td>
                                        <span style="color:{{ @colors[@stat.product_id] }}">{{ @stat.product }}</span>                                   
                                    </td>    
                                    <td>{{ @stat.words }}</td>  
                                    <td>{{ @stat.impressions }}</td>                                    
                                </tr>
                                </repeat>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<include href="admin/footer.html" />
<script type="text/javascript" src="/cdn/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script>
var labels = JSON.parse('{{ @labels }}'.replace(/&quot;/g,'"'));
var datasets = JSON.parse('{{ @datasets }}'.replace(/&quot;/g,'"'));   
$(function() {     
    $('.offers').multiselect({
        numberDisplayed: 1,
        dropRight: true,
        enableFiltering: false,
        includeSelectAllOption: true,
        onChange: function(element, checked) {
            console.log('change');
        }
    });  
    $('.offers').multiselect('select', [{{ @off }}]); 
}); 
</script>
<script type="text/javascript" src="/app/views/assets/js/app/dynamic.js"></script>
<script type="text/javascript" src="/app/views/assets/js/app/stat.js"></script>

